Package: linuxmuster-pkipplib
Version: 0.07.0-3
Section: python
Priority: optional
Architecture: all
Depends: python (>= 2.4), python (<< 2.5)
Installed-Size: 240
Maintainer: Frank Schiebel <schiebel@rheinstrasse.net>
Description: pkipplib package for pykota integration to "Linux Musterloesung"
 .
 This package provides modules for python 2.3
