#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

# The versions of python currently supported
PYTHON=$(shell pyversions -r)

include /usr/share/quilt/quilt.make

build: build-stamp

build-stamp: patch
	dh_testdir
	$(PYTHON) setup.py build
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f *-stamp
	rm -rf compile build
	./clean.sh
	dh_clean

install: build install-$(PYTHON)

install-$(PYTHON):
	dh_testdir
	dh_testroot
	$(PYTHON) setup.py install --root `pwd`/debian/pkipplib/
	find ./debian/pkipplib/usr/lib -name '*\.py' | xargs sed -i -e '1 s|^#\!.*python.*||'
#	sed -i -e '1 s|^#\!.*python.*|#!/usr/bin/python|' ./debian/pkipplib/usr/bin/pkipplib
#	rm ./debian/pkipplib/usr/share/doc/pkipplib/COPYING

# Build architecture-independent files here.
# Pass to all debhelper commands in this target to reduce clutter.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs
	dh_pycentral
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep

binary-arch:

.PHONY: build clean binary-indep binary install
